Repository rpm-software-management/rpm, pull requests merged in 2023-09, with the labels that each got.

#2641 Always run tests without --nouser and --nogroup, now that we can
  tests/atlocal.in
Labels: test

#2642 Drop no longer needed pull from updates-testing for rpm-sequoia
  tests/Dockerfile
Labels: test

#2668 Axe the experimental non-privileged chroot support from b4c832ca
  lib/poptALL.c
  lib/rpmchroot.c
  tests/atlocal.in
Labels: cleanup

#2670 Fix tagtbl.C placement in build dir
  lib/CMakeLists.txt
Labels: build

#2681 Simplify communicating crypto backend to the test-suite
  tests/CMakeLists.txt
  tests/atlocal.in
Labels: cleanup, test
