Repository rpm-software-management/rpm, pull requests merged in 2024-01, with the labels that each got.

#2803 Add support for "pinned" tests
  tests/CMakeLists.txt
  tests/local.at
  tests/mktree.common
  tests/mktree.oci
  tests/pinned/README
  tests/pinned/rpmlibver.sh
  tests/pinned/rpmlibver.txt
  tests/pinned/rpmsigdig.sh
  tests/pinned/rpmsigdig.txt
  tests/pinned/update
  tests/rpmgeneral.at
  tests/rpmsigdig.at
Labels: test

#2838 Return false when comparing different python objects holding the same version tag
  python/rpmver-py.c
  tests/rpmpython.at
Labels: bug, python

#2853 Fix link, declarative builds instead of autobuild
  docs/manual/index.md
Labels: documentation

#2852 CMakeLists.txt: restore readline support as an explicit option
  CMakeLists.txt
Labels: REGRESSION, build
